<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Můj první příspěvek</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Můj druhý příspěvek</a></h2>
            <p>


                  <h1>Hlavní nadpis</h1> - Pro tvůj nejdůležitější nadpis
                  <h2>Pod-nadpis</h2> pro nadpis na nižší úrovni
                  <h3>Pod-pod-nadpis</h3> ... a tak dále, až k <h6>
                  <em>text</em> zvýrazňuje tvůj text
                  <strong>text</strong> zvýrazňuje tvůj text silnějji
                  <br /> vkládá novou řádku (dovnitř br nemůžeš nic dát)
                  <a href="https://djangogirls.org">link</a> vytváří odkaz
                  <ul><li>První položka seznamu</li><li>druhá položka seznamu</li></ul> vytváří seznam, zrovna jako tento!
                  <div></div> definuje sekce stránky

              Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        </div>
    </body>
</html>
